<div class="desktop-view" ngIf="isDesktop">
  <app-navbar></app-navbar>

  <h2>Meet The Team</h2>

  <div class="aligninfo">
    <!--Prince Mpho Msimango-->
    <!--Prince Mpho Msimango-->
    <div class="box">
      <br /><br />
      <div class="smallbox2">
        <img
          src=" images/WhatsApp Image 2024-08-14 at 22.46.38_9b136dc0.jpg"
          alt=""
          class="profilephoto"
        />
      </div>
      <h3 class="name">Prince Mpho Msimango</h3>

      <div class="subbutton">
        <a href="https://github.com/YungPharaoh65"
          ><fa-icon [icon]="faGithub"></fa-icon
        ></a>
        <a href="https://x.com/prince28_mpho">
          <fa-icon [icon]="faTwitter"></fa-icon
        ></a>
        <a href="https://www.linkedin.com/in/prince-mpho-msimango-26b3b6282/"
          ><fa-icon [icon]="faLinkedin"></fa-icon
        ></a>
      </div>

      <div class="detailbox">
        <p class="title">Role: Founder / Tutor / Student</p>
        <p class="title"> 
          DIT 2nd year, frontend dev. Created a demo sales activity page that deals with passing of data using .json, focusing on passing & fetching data
        </p>
      </div>

      <div class="alignicons">
        <fa-icon [icon]="faAngular" class="angular"></fa-icon>
        <fa-icon [icon]="faReact" class="react"></fa-icon>
      </div>
    </div>
    <!--Prince Mpho Msimango--><!--Prince Mpho Msimango--><!--Prince Mpho Msimango-->

    <!--Prince Mpho Msimango-->
    <!--Prince Mpho Msimango-->
    <div class="box">
      <br /><br />
      <div class="smallbox2">
        <img src=" images/lunga.jpg" alt="" class="profilephoto" />
      </div>
      <h3 class="name">
        Lunga <br />
        Mfumba
      </h3>

      <div class="subbutton">
        <a href="https://github.com/Bob-Stone00"
          ><fa-icon [icon]="faGithub"></fa-icon
        ></a>
        <a href="https://x.com/Lunga_01">
          <fa-icon [icon]="faTwitter"></fa-icon
        ></a>
        <a href="https://www.linkedin.com/in/lunga-mfumba-3a863b234/"
          ><fa-icon [icon]="faLinkedin"></fa-icon
        ></a>
      </div>

      <div class="detailbox">
        <p class="title">Role: Tutor / Student</p>
        <p class="title">
          BSC 3rd year, full stack developer. Created a finance tracking system
          <br>for their final year <br> using a stock market API
        </p>
      </div>

      <div class="alignicons">
        <fa-icon [icon]="faReact" class="react"></fa-icon>
        <fa-icon [icon]="faLaravel" class="laravel"></fa-icon>
      </div>
    </div>

    <!--Prince Mpho Msimango--><!--Prince Mpho Msimango--><!--Prince Mpho Msimango-->
  </div>

  <div class="aligninfo">
    <!--Prince Mpho Msimango-->
    <!--Prince Mpho Msimango-->
    <div class="box">
      <br /><br />
      <div class="smallbox2">
        <img src="  images/ororii.jpg" alt="" class="profilephoto" />
      </div>
      <br />
      <h3 class="name">Ororiseng Mabaso</h3>

      <div class="subbutton">
        <a href="https://github.com/Raurii26">
          <fa-icon [icon]="faGithub"></fa-icon
        ></a>
        <a href="https://x.com/flowe_boy">
          <fa-icon [icon]="faTwitter"></fa-icon
        ></a>
        <a href="https://www.linkedin.com/in/ororiseng-mabaso-355480234/"
          ><fa-icon [icon]="faLinkedin"></fa-icon
        ></a>
      </div>

      <div class="detailbox">
        <p class="title">Role: Tutor / Student</p>
        <p class="title">
          <br />
          BSC 3rd year, created a system using Lavarel as a backend developer <br>
           for their final project. Also focuses on data handling.
        </p>
      </div>
       
      <div class="alignicons">
        <fa-icon [icon]="faAngular" class="angular" src="Ang"></fa-icon>
        <fa-icon [icon]="faLaravel" class="laravel"></fa-icon>
      </div>
    </div>
  </div>

  <div class="catchphrase2">
    <a routerLink="/moredetails">about us</a>
    <a routerLink="/projects"> projects</a>
    <a routerLink="/contact"> contacts</a>

    <a routerLink="/">home</a>
  </div>

  <br /><br />
</div>

<!-- Message for mobile/tablet view -->
<div class="mobile-view">
  <br /><br />
  <h1>Desktop Only</h1>
  <p>
    The mobile version is unavaliable at the moment. Please switch to a desktop
    for the best experience.
  </p>
  <br /><br />
  <p class="smalltext">Coding Solutions.</p>
  <p class="alignsocialstext2">since June 2024</p>
</div>
