<app-navbar></app-navbar>

<h2>Meet The Team</h2>

<div class="aligninfo">
  <!--Prince Mpho Msimango-->
  <!--Prince Mpho Msimango-->
  <div class="box">
    <br /><br />
    <div class="smallbox2">
      <img src=" images/WhatsApp Image 2024-08-14 at 22.46.38_9b136dc0.jpg" alt="" class="profilephoto" />
    </div>
    <h3 class="name">Prince Mpho Msimango</h3>

    <div class="subbutton">
      <a href="https://wa.me/message/UE6XNJVTRE7IM1"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
      <a href=""> <fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a>
    </div>

    <div class="detailbox">
      <p class="title">Role: Founder / Tutor / Student</p>
      <p class="title">
        <br />
        DIT 2nd year, interested in learning new technologies and prefers
        angular over react
      </p>
    </div>

    <div class="alignicons">
      <fa-icon [icon]="faAngular" class="angular"></fa-icon>
      <fa-icon [icon]="faLaravel" class="laravel"></fa-icon>
    </div>
  </div>
  <!--Prince Mpho Msimango--><!--Prince Mpho Msimango--><!--Prince Mpho Msimango-->

  <!--Prince Mpho Msimango-->
  <!--Prince Mpho Msimango-->
  <div class="box">
    <br /><br />
    <div class="smallbox2">
      <img
        src=" images/WhatsApp Image 2024-08-14 at 22.46.43_5f2f8aba.jpg"
        alt=""
        class="profilephoto"
      />
    </div>
    <h3 class="name">Lunga Mfumba</h3>

    <div class="subbutton">
      <a href="https://wa.me/message/UE6XNJVTRE7IM1"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
      <a href=""> <fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a>
    </div>

    <div class="detailbox">
      <p class="title">Role: Tutor / Student</p>
      <p class="title">
        <br />
        DIT 3rd year, interested in learning new technologies and prefers
        angular over react
      </p>
    </div>
    <br /><br />
    <div class="alignicons">
      <fa-icon [icon]="faAngular" class="angular"></fa-icon>
      <fa-icon [icon]="faJava" class="java"></fa-icon>
    </div>
  </div>

  <!--Prince Mpho Msimango--><!--Prince Mpho Msimango--><!--Prince Mpho Msimango-->
</div>

<div class="aligninfo">
  <!--Prince Mpho Msimango-->
  <!--Prince Mpho Msimango-->
  <div class="box">
    <br /><br />
    <div class="smallbox2">
      <img src=" images/WhatsApp Image 2024-08-14 at 22.46.38_9b136dc0.jpg" alt="" class="profilephoto" />
    </div>
    <h3 class="name">Prince Mpho Msimango</h3>

    <div class="subbutton">
      <a href="https://wa.me/message/UE6XNJVTRE7IM1"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
      <a href=""> <fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a>
    </div>

    <div class="detailbox">
      <p class="title">Role: Tutor / Student</p>
      <p class="title">
        <br />
        DIT 2nd year, interested in learning new technologies and prefers
        angular over react
      </p>
    </div>

    <div class="alignicons">
      <fa-icon [icon]="faAngular" class="angular" src="Ang"></fa-icon>
      <fa-icon [icon]="faReact" class="react"></fa-icon>
    </div>
  </div>
</div>

<div class="catchphrase2">
  <a routerLink="/pricing">pricing</a>
  <a routerLink="/aboutus">about us</a>
  <a routerLink="/projects"> projects</a>
  <a routerLink="/">home</a>
</div>

<br /><br />
