<div class="desktop-view"  ngIf="isDesktop">
 
<app-navbar></app-navbar>

<h2>Meet The Team</h2>

<div class="aligninfo">
  <!--Prince Mpho Msimango-->
  <!--Prince Mpho Msimango-->
  <div class="box">
    <br /><br />
    <div class="smallbox2">
      <img
        src=" images/WhatsApp Image 2024-08-14 at 22.46.38_9b136dc0.jpg"
        alt=""
        class="profilephoto"
      />
    </div>
    <h3 class="name">Prince Mpho Msimango</h3>

    <div class="subbutton">
      <a href="https://wa.me/message/UE6XNJVTRE7IM1"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
      <a href=""> <fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a>
    </div>

    <div class="detailbox">
      <p class="title">Role: Founder / Tutor / Student</p>
      <p class="title">
        <br />
        DIT 2nd year, chess fanatic,
        Angular over React anyday
      </p>
    </div>

    <div class="alignicons">
      <fa-icon [icon]="faAngular" class="angular"></fa-icon>
      <fa-icon [icon]="faLaravel" class="laravel"></fa-icon>
    </div>
  </div>
  <!--Prince Mpho Msimango--><!--Prince Mpho Msimango--><!--Prince Mpho Msimango-->

  <!--Prince Mpho Msimango-->
  <!--Prince Mpho Msimango-->
  <div class="box">
    <br /><br />
    <div class="smallbox2">
      <img
        src=" images/lunga.jpg"
        alt=""
        class="profilephoto"
      />
    </div>
    <h3 class="name">Lunga <br> Mfumba</h3>
 
    <div class="subbutton">
      <a href="https://wa.me/message/UE6XNJVTRE7IM1"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
      <a href=""> <fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a>
    </div>

    <div class="detailbox">
      <p class="title">Role: Tutor / Student</p>
      <p class="title">
        <br />
        BSC 3rd year, interested in learning new technologies and prefers
        angular over react
      </p>
    </div>
    
    <div class="alignicons">
      <fa-icon [icon]="faAngular" class="angular"></fa-icon>
      <fa-icon [icon]="faJava" class="java"></fa-icon>
    </div>
  </div>

  <!--Prince Mpho Msimango--><!--Prince Mpho Msimango--><!--Prince Mpho Msimango-->
</div>

<div class="aligninfo">
  <!--Prince Mpho Msimango-->
  <!--Prince Mpho Msimango-->
  <div class="box">
    <br /><br />
    <div class="smallbox2">
      <img
        src="  images/ororii.jpg"
        alt=""
        class="profilephoto"
      />
    </div>
    <br>
    <h3 class="name">Ororiseng Mabaso</h3>
    

    <div class="subbutton">
      <a href="https://wa.me/message/UE6XNJVTRE7IM1"
        >
        <fa-icon [icon]="faGithub"></fa-icon
      ></a>
      <a href=""> <fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a>
    </div>

    <div class="detailbox">
      <p class="title">Role: Tutor / Student</p>
      <p class="title">
        <br />
        BSC 3rd year, interested in learning new technologies and prefers
        angular over react
      </p>
    </div>
<br><br> 
    <div class="alignicons">
      <fa-icon [icon]="faAngular" class="angular" src="Ang"></fa-icon>
      <fa-icon [icon]="faReact" class="react"></fa-icon>
    </div>
  </div>
</div>

<div class="catchphrase2">
  <a routerLink="/pricing">pricing</a>
   <a routerLink="/projects"> projects</a>
   <a routerLink="/contact"> contacts</a>
  
  <a routerLink="/">home</a>
</div>

<br /><br />

</div>



  <!-- Message for mobile/tablet view -->
  <div class="mobile-view">

    <br><br>
    <h1>Desktop Only</h1>
    <p>The mobile version is unavaliable at the moment. Please switch to a desktop for the best experience.</p>
  <br><br>  
    <p class="smalltext">Coding Solutions.</p> 
    <p class="alignsocialstext2">since June 2024</p>
  </div>
  
   
