<!--Navbar Design-->
<nav class="navbar">
    <div class="brandnameheader" routerLink="/">C.S</div>
  
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a href="" class="navbar-link" routerLink="/projects" >Our Projects</a>
      </li>
      <li class="navbar-item">
        <a href="" class="navbar-link" routerLink="/aboutus"  >About</a>
      </li>
      <li class="navbar-item">
        <a href="" class="navbar-link" routerLink="/contact"   >Contact</a>
      </li>
   
      <li class="navbar-item2">
        <div class="movebtn">
          <button class="toggle-button" (click)="toggleDarkMode()">
            {{ mode }}
          </button>
        </div>
      </li>
      
    </ul>
  </nav>
  <!-- End of Navbar Design -->
   