<div class="desktop-view"  ngIf="isDesktop">
 
<div class="contain"> <!--ANIMATION TAG-->
<app-navbar></app-navbar>
<h2>Our Projects</h2>

<p class="smalltext">we pride ourselves in showing our student's projects 
   <br>so we display theirs as a progress
   <br>scale to their needs.

   <br><br>
   These are one of the few students who have done exceptionally
   <br>well during their 30 days : 

</p>

<b>(scroll down to read more)</b>


<br><br>
<div class="video-container">
   <video class="box11" autoplay muted loop preload="auto">
     <source src=" images/IDEA.mp4" type="video/mp4">
    Just refresh your page, you good.
   </video>
</div>

<br><br>
<div class="box33">
<button class="colorbtn"  routerLink="/pricing">Click to join us</button>
</div>

<p class="topicname">Our Guides we teach on:</p>

<div class="box12">  
   <button class="colorbtn">Github</button>
   <button class="colorbtn">Visual Studio Code</button>
   <button class="colorbtn">HTML / CSS</button> 
</div>

<div class="box13"> 
   <button class="colorbtn">JavaScript</button>
   <button class="colorbtn">React</button> 
   <button class="colorbtn">figma</button>
   <button class="colorbtn">netlify</button>
    
</div> 

<br><br>
<p class="topicname">Our Students</p>

<br><br><br>
<p class="catchphrase2">(swipe-left)

   <br>
  
</p>

<div class="alignbox100">
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->

 <!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<div class="centeritems"> 

   <img src=" images/Mbali.jpg" class="box14" alt=""> 

   
   <div class="textbox15">
      <h1>Mbali Mabena</h1>
   
      <div>Student: <strong>Richfield (Pretoria)</strong> </div>
      <br>
    <button class="skillbtn">Html</button>
      <button class="skillbtn-1">css</button>
      <button class="skillbtn-2">figma</button>
      <br> 
      <button class="skillbtn-3">Github</button>
      
       <br><br>
      <p>'Interests in learning more coding, <br>more espcially in html/css '</p>
   <br>
      <div class="alignimgboxes">
            <a href=""><div class="image-container">
            <img src="images/Project.png" class="box16images" alt="Screenshot">
            <div class="overlay">Project</div>
        </div> 
      </a> 
         <br>
        <a href="https://github.com/Mbali12-enhle"> <div class="image-container">
            <img src="images/NtsakoGithub.png" class="box16images" alt="Screenshot">
            <div class="overlay">Github</div>
        </div>  
      </a>  
      </div>
      
   </div>
   </div>
   <br><br><br>
   <br><br>
   <!--Profile--><!--Profile--><!--Profile--><!--Profile-->
   <!--Profile--><!--Profile--><!--Profile--><!--Profile-->


<div class="centeritems"> 

   <br><br><br>

 <img src=" images/ntsako.jpg" class="box14" alt=""> 


<div class="textbox15">
   <h1>Ntsako Sibisi</h1>
   
   <div>Student: <strong>University of Pretoria </strong></div>
   <br>
 <button class="skillbtn">Html</button>
   <button class="skillbtn-1">css</button>
   <button class="skillbtn-2">figma</button>
   <br> 
   <button class="skillbtn-3">Github</button>
    <br><br>
   <p>'Wanted to enhance more on their <br>knowledge of html/css'<br> 
       (click image, see project) </p>

   <div class="alignimgboxes">
      
     <a href="">  <div class="image-container">
         <img src="images/Project.png" class="box16images" alt="Screenshot">
         <div class="overlay">Project</div>
     </div> </a>
      <br>
      <a href="https://github.com/NtsakoCodings"><div class="image-container">
         <img src="images/NtsakoGithub.png" class="box16images" alt="Screenshot">
         <div class="overlay">Github</div>
     </div>  
   </a>  
   </div>

</div>
</div>

<br><br>
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->

<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<div class="centeritems"> 

   <img src=" images/andile.jpg" class="box14" alt=""> 

   
   <div class="textbox15">
      <h1>Kgopotso Memory</h1>
   
      <div>Student: <strong>Richfield Tech (Pretoria)</strong> </div>
      <br>
    <button class="skillbtn">Html</button>
      <button class="skillbtn-1">css</button>
      <button class="skillbtn-2">figma</button>
      <br> 
      <button class="skillbtn-3">Github</button>
      <button class="skillbtn-4">JavaScript</button>
      
       <br><br>
      <p>'learning web-making, interested in <br>
      learning JavaScript for functionality'
      <br>
      </p>
   
      <br>
      <div class="alignimgboxes">
        <a href=""> <div class="image-container">
            <img src="images/Project.png" class="box16images" alt="Screenshot">
            <div class="overlay">Project </div>
        </div> 
      </a>
         <br>
         <a href="https://github.com/KgopotsoUoane"><div class="image-container">
            <img src="images/NtsakoGithub.png" class="box16images" alt="Screenshot">
            <div class="overlay">Github</div>
        </div>  
      </a>  
      </div>
      
   
   </div>
   </div>
   
   <br><br>
   <!--Profile--><!--Profile--><!--Profile--><!--Profile-->
   <!--Profile--><!--Profile--><!--Profile--><!--Profile-->

  
   
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<div class="centeritems"> 

   <img src=" images/andile.jpg" class="box14" alt=""> 

   
   <div class="textbox15">
      <h1>Andile Luthuli</h1>
   
      <div>Student: <strong>Richfield Tech (Pretoria)</strong> </div>
      <br>
    <button class="skillbtn">Html</button>
      <button class="skillbtn-1">css</button>
       <br> 
       <button class="skillbtn-4">JavaScript</button>
      
       <br><br>
      <p>'interestedin development and <br>
         learning web dev.' 
      <br>
      </p>
   
      <br>
      <div class="alignimgboxes">
        <a href=""> <div class="image-container">
            <img src="images/Project.png" class="box16images" alt="Screenshot">
            <div class="overlay">Project </div>
        </div> 
      </a>
         <br>
         <a href=""><div class="image-container">
            <img src="images/NtsakoGithub.png" class="box16images" alt="Screenshot">
            <div class="overlay">Github</div>
        </div>  
      </a>  
      </div>
      
   
   </div>
   </div>
   
   <br><br>
 
   
   <!--This  part dissapeared so its not visible due to opacity
   and  <div class="transparent"> so yeah.
   -->
   <div class="transparent"> 
   <!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<div class="centeritems"> 

   <div class="box14"><p>image goes ehre</p></div>
   
   
   <div class="textbox15">
      <h1>Mbali Surname</h1>
   
      <p>C.S Student  </p>
      <button class="skillbtn">Html</button>
      <button class="skillbtn-1">css</button>
      <button class="skillbtn-2">figma</button>
      <br> 
      <button class="skillbtn-3">Github</button>
       <br><br>
      <p>hcjfcgkyrxjmhgvkg ,jhvgk gv <br>gjdcfmcj</p>
   
      <div class="alignimgboxes">
           <div class="box16images"></div>
          <br>
          <div class="box16images"></div>
      
      </div>
   
   </div>
   </div>
   <br><br><br>
   <br><br>
   <!--Profile--><!--Profile--><!--Profile--><!--Profile-->
   <!--Profile--><!--Profile--><!--Profile--><!--Profile-->

    <!--This  part dissapeared so its not visible due to opacity
   and  <div class="transparent"> so yeah.
   -->

</div>



</div>

<div class="catchphrase2"><button class="startbtn"   routerLink="/pricing">get started today</button></div>



<!--<p class="centertext">codingsolutions2024</p>-->
  
</div>
<br><br>

<!-- Message for mobile/tablet view -->
<div class="mobile-view">

   <br><br>
   <h1>Desktop Only</h1>
   <p>The mobile version is unavaliable at the moment. Please switch to a desktop for the best experience.</p>
 <br><br>  
   <p class="smalltext">Coding Solutions.</p>
 
   
 
   
   <p class="alignsocialstext2">since June 2024</p>
 </div>
 
</div>




