<app-navbar></app-navbar>
<h2>Our Projects</h2>

<p class="smalltext">we pride ourselves in showing our student's projects 
   <br>so we display theirs as a progress
   <br>scale to their needs.

   <br><br>
   These are one of the few students who have done exceptionally
   <br>well during their 30 days : 

</p>

<b>(scroll down to read more)</b>


<br><br>
  <video  class="box11">
     <source src=" images/videouse.mp4" type="video/mp4">
      
   </video>
  
<br><br>
<div class="box33">
<button class="colorbtn"  routerLink="/pricing">Click to join us</button>
</div>

<p class="topicname">Our Guides we teach on:</p>

<div class="box12">  
   <button class="colorbtn">Github</button>
   <button class="colorbtn">Visual Studio Code</button>
   <button class="colorbtn">HTML / CSS</button> 
</div>

<div class="box13"> 
   <button class="colorbtn">JavaScript</button>
   <button class="colorbtn">React</button> 
   <button class="colorbtn">figma</button>
   <button class="colorbtn">netlify</button>
    
</div> 

<br><br>
<p class="topicname">Our Students</p>

<br><br><br>
<p class="catchphrase2">(scroll-left)</p>

<div class="alignbox100">
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<div class="centeritems"> 

   

<div class="box14"><p>image goes ehre</p></div>


<div class="textbox15">
   <h1>Mbali Surname</h1>

   <p>C.S Student  </p>
   <button class="skillbtn">Html</button>
   <button class="skillbtn-1">css</button>
   <button class="skillbtn-2">figma</button>
   <br> 
   <button class="skillbtn-3">Github</button>
    <br><br>
   <p>hcjfcgkyrxjmhgvkg ,jhvgk gv <br>gjdcfmcj</p>

   <div class="alignimgboxes">
       <p>Projects</p>
       <div class="box16images"></div>
       <br>
       <div class="box16images"></div>
   
   </div>

</div>
</div>

<br><br>
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->

<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<div class="centeritems"> 

   <div class="box14"><p>image goes ehre</p></div>
   
   
   <div class="textbox15">
      <h1>Mbali Surname</h1>
   
      <p>C.S Student  </p>
      <button class="skillbtn">Html</button>
      <button class="skillbtn-1">css</button>
      <button class="skillbtn-2">figma</button>
      <br> 
      <button class="skillbtn-3">Github</button>
       <br><br>
      <p>hcjfcgkyrxjmhgvkg ,jhvgk gv <br>gjdcfmcj</p>
   
      <div class="alignimgboxes">
          <p>Projects</p>
          <div class="box16images"></div>
          <br>
          <div class="box16images"></div>
      
      </div>
   
   </div>
   </div>
   
   <br><br>
   <!--Profile--><!--Profile--><!--Profile--><!--Profile-->
   <!--Profile--><!--Profile--><!--Profile--><!--Profile-->

   <!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<!--Profile--><!--Profile--><!--Profile--><!--Profile-->
<div class="centeritems"> 

   <div class="box14"><p>image goes ehre</p></div>
   
   
   <div class="textbox15">
      <h1>Mbali Surname</h1>
   
      <p>C.S Student  </p>
      <button class="skillbtn">Html</button>
      <button class="skillbtn-1">css</button>
      <button class="skillbtn-2">figma</button>
      <br> 
      <button class="skillbtn-3">Github</button>
       <br><br>
      <p>hcjfcgkyrxjmhgvkg ,jhvgk gv <br>gjdcfmcj</p>
   
      <div class="alignimgboxes">
          <p>Projects</p>
          <div class="box16images"></div>
          <br>
          <div class="box16images"></div>
      
      </div>
   
   </div>
   </div>
   <br><br><br>
   <br><br>
   <!--Profile--><!--Profile--><!--Profile--><!--Profile-->
   <!--Profile--><!--Profile--><!--Profile--><!--Profile-->
</div>


<div class="catchphrase2"><button class="startbtn"   routerLink="/pricing">get started today</button></div>



<!--<p class="centertext">codingsolutions2024</p>-->
  





