<div class="desktop-view"  ngIf="isDesktop">

<div class="text">
    <button class="backbtn" routerLink="/">x</button>
    
    <h1 align="center">Tutoring Prices</h1>
    <p align="center">
      This is the list of the prices for each page, made from this webpage. <br>
      <span>(get a 5% discount if you are a student from Richfield doing first year.)</span><br>
      <span>(we tutor every 30 days on these aspects of techology, see which peaks your interest)</span> 
    </p>
    
    <div class="block1">
      <div class="box1"><p class="p2">Package 1</p></div>
      <div class="box11">
        <h3>Standard (beginner class)</h3>
        <br />
        <p class="p33">(1on1 classes)</p>
        <h2>R99.99</h2>
        <br />
        <p class="p3">/Per 10 days</p>
        <hr />
    
        <div class="p3text">
          <p class="p3">Html / CSS</p>
          <div class="hrtext"><hr /></div>
          <br /><br />
    
          <p class="p3">Learn using Vscode</p>
          <div class="hrtext"><hr /></div>
        </div>
    
        <br />
        <br />
        <p class="p3">Github and project making</p>
        <div class="hrtext"><hr /></div>
        <br />
        <br />
        <p class="p3">make 2 projects</p>
        <div class="hrtext"><hr /></div>
    
        <button (click)="enroll()" id="getstartedBtn" routerLink="/endpage">enroll</button>
      </div>
    </div>
    
    <div class="block2">
      <div class="blockcolor2"><p class="p2">Package 3</p></div>
      <div class="blockcolor22">
        <h3>Frontend dev starter pack</h3>
        <br />
        <p class="p33">(1on1 advanced)</p>
        <h2>R249.99</h2>
        <br />
        <p class="p3">/Per 10 days</p>
        <hr />
    
        <div class="p3text">
          <p class="p3">Coding using Language (JavaScript)</p>
          <div class="hrtext"><hr /></div>
          <br /><br />
    
          <p class="p3">Learning frameworks (React/Angular) </p>
          <div class="hrtext"><hr /></div>
        </div>
    
        <br />
        <br />
        <p class="p3">building solid hosting projects</p>
        <div class="hrtext"><hr /></div>
        <br />
        <br />
        <p class="p3">make 4 projects</p>
        <div class="hrtext"><hr /></div>
    
        <button (click)="enroll()" id="getstartedBtn" routerLink="/endpage" >enroll</button>
      </div>
    </div>
    
    <div class="block3">
      <div class="blockcolor2"><p class="p2">Package 2</p></div>
    
      <div class="blockcolor222">
        <h3>30 day Group Class</h3>
        <br />
        <p class="p33">(group classes)</p>
        <h2>R199.99</h2>
        <br />
        <p class="p3">day/hourly</p>
        <hr />
    
        <div class="p3text">
          <p class="p3">Html / CSS revising</p>
          <div class="hrtext"><hr /></div>
          <br /><br />
    
          <p class="p3">hosting (using netlify)</p>
          <div class="hrtext"><hr /></div>
        </div>
    
        <br />
        <br />
        <p class="p3">30 days Resources</p>
        <div class="hrtext"><hr /></div>
        <br />
        <br />
        <p class="p3">make 3 projects</p>
        <div class="hrtext"><hr /></div>
    
        <button href="https://wa.me/message/UE6XNJVTRE7IM1" id="getstartedBtn" routerLink="/endpage" (click)="enroll()" >enroll</button>
      </div>
    </div>
    <a href="h.html" routerLink="/" >BACK TO CODING SOLUTIONS</a>
    <br /><br /><br />
    
    </div>
  </div>

    
<!-- Message for mobile/tablet view -->
<div class="mobile-view">

  <br><br>
  <h1>Desktop Only</h1>
  <p>The mobile version is unavaliable at the moment. Please switch to a desktop for the best experience.</p>
<br><br>  
  <p class="smalltext">Coding Solutions.</p> 
  <p class="alignsocialstext2">since June 2024</p>
</div>
