

<div class="contain"><br><br><br><br>
  <button class="exitbtn" routerLink="/">x</button>

<h2>About Coding Solutions</h2>

<br>
<div class="none">
  <video class="gif1" autoplay muted loop preload="auto">
    <source src=" images/videouse.mp4" type="video/mp4">
   Just refresh your page, you good.
  </video>

<div class="aligncontent">

    </div>
<p class="textgif">At Coding Solutions, our mission is to provide accessible and <br>
     practical web development training to individuals who are eager to learn. <br>
      We specialize in teaching the fundamentals  <br>
      of creating simple yet functional websites, <br>
       ensuring that our learners gain a strong foundation in web development <br>
        from the ground up. <br>
         Our courses are designed to be beginner-friendly, <br>
          allowing those with no prior experience to quickly get started on their journey into the world of coding.</p> 
   
           <div class="aligncontent">
             <fa-icon [icon]="faHtml5" class="contentbtn"></fa-icon> 
             <fa-icon [icon]="faCss3" class="contentbtn"></fa-icon> 
             <fa-icon [icon]="faFigma" class="contentbtn"></fa-icon> 
              </div>

        <br><br><br><br>
        <p class="centertext">We cover a wide range of essential programming languages and technologies that are commonly used in the industry today. <br>
             From front-end languages like <br> HTML,  CSS, and JavaScript <br> to back-end technologies like PHP, we aim to give our students a comprehensive understanding of how websites are built and maintained. <br>  Our hands-on approach ensures that learners don’t just acquire theoretical knowledge but also develop practical skills they can apply immediately.</p>

             <br>
             <div class="video-container">
              <video class="gif1" autoplay muted loop preload="auto">
                <source src=" images/IDEA2.mp4" type="video/mp4">
               Just refresh your page, you good.
              </video>

             <div class="aligncontent">
             
                 </div>
             <p class="textgif">At Coding Solutions, our mission is to provide accessible and <br>
                  practical web development training to individuals who are eager to learn. <br>
                   We specialize in teaching the fundamentals  <br>
                   of creating simple yet functional websites, <br>
                    ensuring that our learners gain a strong foundation in web development <br>
                     from the ground up. <br>
                      Our courses are designed to be beginner-friendly, <br>
                       allowing those with no prior experience to quickly get started on their journey into the world of coding.</p> 
   <br><br><br><br><br><br> <br> 

   <h2>Our Classes</h2>
  <br>
             <div ></div> 
             <div class="video-container">
              <video class="gif1" autoplay muted loop preload="auto">
                <source src=" images/IDEA.mp4" type="video/mp4">
               Just refresh your page, you good.
              </video>

             <div class="aligncontent">
             
                 </div>
             <p class="textgif">At Coding Solutions, our mission is to provide accessible and <br>
                  practical web development training to individuals who are eager to learn. <br>
                   We specialize in teaching the fundamentals  <br>
                   of creating simple yet functional websites, <br>
                    ensuring that our learners gain a strong foundation in web development <br>
                     from the ground up. <br>
                      Our courses are designed to be beginner-friendly, <br>
                       allowing those with no prior experience to quickly get started on their journey into the world of coding.</p> 
   <br><br><br><br><br><br> <br> 

   <p class="centertext">We offer a variety of classes to suit different learning preferences and schedules. <br> For those looking for personalized attention, <br>
    we provide individual training sessions, both in-person and virtually, allowing learners to progress at their own pace <br> with direct guidance from our instructors. <br>
     Our virtual classes are designed to be flexible and accessible from anywhere, giving you the freedom to learn in your own environment.</p>

<br>

<p class="centertext">In addition to individual sessions, we also offer group classes three times a year. <br>
     These group classes foster collaboration, where students can work together, share ideas, and support each other's learning journeys. <br>
      Our class packages vary, depending on the level of commitment and the depth of learning you're looking for. <br> Whether you want a short-term course or an in-depth learning experience, we have options to suit your needs.</p>





   <div class="box12">  
    <button class="colorbtn">Github</button>
    <button class="colorbtn">Visual Studio Code</button>
    <button class="colorbtn">HTML / CSS</button> 
    <button class="colorbtn">JavaScript</button> 
 
 </div>
<br>
 <div class="centertext">At Coding Solutions, we understand that starting out in web development can feel overwhelming. That’s why we offer personalized guidance <br> to help beginners navigate their way through the complexities of coding. <br> Whether you're looking to build your first website or enhance your existing skills, our resources and experienced instructors <br> are here to provide the support you need. We also encourage learners to explore <br> more advanced topics as they progress, <br> empowering them to continue growing and adapting to the ever-evolving field of web development.</div>
 <br>
 <div class="box12">  
    <button class="colorbtn" routerLink="/pricing">Get Started</button> 
 </div>


 <div class="alignsocials">
    <a href="https://x.com/prince28_mpho"> <fa-icon [icon]="faTwitter"></fa-icon></a>
    <a href="https://www.instagram.com/princemphomsimango/"><fa-icon [icon]="faInstagram"></fa-icon></a>
    <a href="https://www.linkedin.com/in/prince-mpho-msimango-26b3b6282/"> <fa-icon [icon]="faLinkedin"></fa-icon></a>
    <a href="https://wa.me/message/UE6XNJVTRE7IM1"
      ><fa-icon [icon]="faWhatsapp"></fa-icon
    ></a> 
  </div>
  
  <div class="align">
    <p class="alignsocialstext">2024 Coding Solutions. All rights reserved</p>
  
    <p class="alignsocialstext2">since June 2024</p>
  </div>

</div>