

<app-navbar></app-navbar>
<div class="codingsol">
  <h1 class="title">Coding <br />Solutions.</h1>
</div>

<h3 class="catchphrase">"Coding Solutions: From Basics to Brilliance"</h3>

<div class="catchphrase2">
  
  <button class="startbtn" (click)="onButtonClick()">Click Me</button>
    
</div>

<!-- ngx-loading spinner, controlled by the loading state -->
<ngx-loading [show]="loading"></ngx-loading>

<div class="contentbox2">
  <div class="scrolling-content">
    <fa-icon [icon]="faHtml5" class="html5"></fa-icon>
    <fa-icon [icon]="faCss3" class="css3"></fa-icon>
    <img src="images/javascript.jpeg" alt="" class="javascript" />
    <fa-icon [icon]="faFigma" class="github"></fa-icon>
    <fa-icon [icon]="faAngular" class="angular"></fa-icon>
    <fa-icon [icon]="faReact" class="react"></fa-icon>
    <fa-icon [icon]="faPython" class="python"></fa-icon>
    <fa-icon [icon]="faGithub" class="github"></fa-icon>

    <fa-icon [icon]="faHtml5" class="html5"></fa-icon>
    <fa-icon [icon]="faCss3" class="css3"></fa-icon>
    <img src="/assets/images/javascript.jpeg" alt="" class="javascript" />
    <fa-icon [icon]="faFigma" class="github"></fa-icon>
    <fa-icon [icon]="faAngular" class="angular"></fa-icon>
    <fa-icon [icon]="faReact" class="react"></fa-icon>
    <fa-icon [icon]="faPython" class="python"></fa-icon>
    <fa-icon [icon]="faGithub" class="github"></fa-icon>

    <fa-icon [icon]="faHtml5" class="html5"></fa-icon>
    <fa-icon [icon]="faCss3" class="css3"></fa-icon>
    <img src="/assets/images/javascript.jpeg" alt="" class="javascript" />
    <fa-icon [icon]="faFigma" class="github"></fa-icon>
    <fa-icon [icon]="faAngular" class="angular"></fa-icon>
    <fa-icon [icon]="faReact" class="react"></fa-icon>
    <fa-icon [icon]="faPython" class="python"></fa-icon>
    <fa-icon [icon]="faGithub" class="github"></fa-icon>
  </div>
</div>

<h2>DIVE INTO WEB DEVELOPMENT</h2>

<div class="aligntexts">
  <div class="part1">
    <h3 class="subheader">
      <fa-icon [icon]="faHtml5" class="html5"></fa-icon> HTML mastery
    </h3>
    <p class="section1text">
      Embark the exciting adverture through the <br />remains of HTML. Build
      websites that cater to <br />every device and its basics
    </p>

    <h3 class="subheader">
      <fa-icon [icon]="faPython" class="python"></fa-icon> Common Languages
    </h3>
    <p class="section1text">
      Embark the exciting adverture through the <br />remains of HTML. Build
      websites that cater to <br />every device and its basics
    </p>

    <h3 class="subheader">
      <fa-icon [icon]="faCode" class="html5"></fa-icon>VSCode Vitory
    </h3>
    <p class="section1text">
      Embark the exciting adverture through the <br />remains of HTML. Build
      websites that cater to <br />every device and its basics
    </p>
  </div>

  <div class="part2">
    <h3 class="subheader">
      <fa-icon [icon]="faCss3" class="css3"></fa-icon> CSS Wizardry
    </h3>
    <p class="section1text">
      Embark the exciting adverture through the <br />remains of HTML. Build
      websites that cater to <br />every device and its basics
    </p>

    <h3 class="subheader">
      <fa-icon [icon]="faGithub" class="github"></fa-icon> GitHub Gymnastics
    </h3>
    <p class="section1text">
      Embark the exciting adverture through the <br />remains of HTML. Build
      websites that cater to <br />every device and its basics
    </p>
  </div>
</div>

<div class="container2">
  <button class="getstarted" routerLink="/pricing">Get Started</button>
  <button class="getstarted2">Download text</button>
</div>

<div class="alignboxes">
  <div class="box">
    <br /><br />
    <span>📚 </span><br />
    <div class="number">30</div>

    <div class="numbertext">days class hosted virtually</div>
  </div>

  <div class="box">
    <br /><br />
    <span>👨🏾‍💻 </span><br />
    <div class="number">15+</div>

    <div class="numbertext">students in attendance</div>
  </div>

  <div class="box">
    <br /><br />
    <span>🔧 </span><br />
    <div class="number">5+</div>

    <div class="numbertext">projects made</div>
  </div>
</div>

<h2>Common Queries</h2>

<div class="aligntexts">
  <div class="part11">
    <h3 class="subheader">what is Coding Solutions about?</h3>
    <p class="section1text">
      we teach people the solid basics of web development <br />
      with relevate tools needed to start with what you know as a developer.
      <br />
      Whether you a beginner or you want to improve <br />
      on your skill.
    </p>

    <h3 class="subheader">how long does it take?</h3>
    <p class="section1text">
      we have a beginner course for a period of <br />
      30 days about all things dev related HTML & CSS <br />
      and 90 days learning a whole language with concepts.
    </p>
  </div>

  <div class="part22">
    <h3 class="subheader">HTML mastery</h3>
    <p class="section1text">
      Embark the exciting adverture through the remains of HTML. Build websites
      that cater to <br />every device and its basics
    </p>

    <h3 class="subheader">How do i get in contact</h3>
    <p class="section1text">
      find us on this link here, or contact us on this <br />
      number via Whatsapp and we will <br />assist on any inquires you seek
      (click on it) <br /><br />
      <a href="https://wa.me/message/UE6XNJVTRE7IM1"
        ><b> <fa-icon [icon]="faWhatsapp"></fa-icon> 061-813-5054</b></a
      >
    </p>
  </div>
</div>
<br /><br /><br />
<br />
<br /><br /><br /><br /><br /><br /><br />
<!--to the left-->
<div class="contentbox">
  <div class="scrolling-content">
    <button class="marginbtn1">web development</button>
    <button class="marginbtn2">Languages</button>
    <button class="marginbtn3">hosting and service</button>
    <button class="marginbtn4">web design</button>
  </div>
</div>

<div class="codingsol">
  <h1 class="title">JOIN US NOW.</h1>
</div>

<h3 class="catchphrase">
  <div class="secondheader">
    'Ready to swap your cape for a coders hat? Leave us your email and <br />
    brace for impact! We'll send you updates and more <br />
    to find out on our courses.' <br /><br />

    Prince Mpho Msimango
  </div>
</h3>

<div class="container">
  <input type="search" class="email" placeholder="name@gmail.com" />
  <button>Submit</button>
</div>

<div class="alignsocials">
  <a href=""> <fa-icon [icon]="faTwitter"></fa-icon></a>
  <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
  <a href=""> <fa-icon [icon]="faLinkedin"></fa-icon></a>
  <a href="https://wa.me/message/UE6XNJVTRE7IM1"
    ><fa-icon [icon]="faWhatsapp"></fa-icon
  ></a>
</div>

<p class="alignsocialstext">2024 Coding Solutions. All rights reserved</p>

<p class="alignsocialstext2">since June 2024</p>
