<div class="contain"> <!--ANIMATION TAG FOR REFRESHER/LOADER-->

<div class="desktop-view"  ngIf="isDesktop">
 
<app-navbar></app-navbar>
<div class="codingsol">
  <h1 class="title">Coding <br />Solutions.</h1>
</div>

<h3 class="catchphrase">"Coding Solutions: From Basics to Brilliance"</h3>

<div class="catchphrase2">
  <button class="startbtn" (click)="onButtonClick()">code with us</button>
</div>

<!-- ngx-loading spinner, controlled by the loading state -->
<ngx-loading [show]="loading"></ngx-loading>

<div class="contentbox2">
  <div class="scrolling-content">
    <fa-icon [icon]="faHtml5" class="html5"></fa-icon>
    <fa-icon [icon]="faCss3" class="css3"></fa-icon>
    <img src="images/javascript.jpeg" alt="" class="javascript" />
    <fa-icon [icon]="faFigma" class="github"></fa-icon>
    <fa-icon [icon]="faAngular" class="angular"></fa-icon>
    <fa-icon [icon]="faReact" class="react"></fa-icon>
    <fa-icon [icon]="faPython" class="python"></fa-icon>
    <fa-icon [icon]="faGithub" class="github"></fa-icon>

    <fa-icon [icon]="faHtml5" class="html5"></fa-icon>
    <fa-icon [icon]="faCss3" class="css3"></fa-icon>
    <img src="/assets/images/javascript.jpeg" alt="" class="javascript" />
    <fa-icon [icon]="faFigma" class="github"></fa-icon>
    <fa-icon [icon]="faAngular" class="angular"></fa-icon>
    <fa-icon [icon]="faReact" class="react"></fa-icon>
    <fa-icon [icon]="faPython" class="python"></fa-icon>
    <fa-icon [icon]="faGithub" class="github"></fa-icon>

    <fa-icon [icon]="faHtml5" class="html5"></fa-icon>
    <fa-icon [icon]="faCss3" class="css3"></fa-icon>
    <img src="/assets/images/javascript.jpeg" alt="" class="javascript" />
    <fa-icon [icon]="faFigma" class="github"></fa-icon>
    <fa-icon [icon]="faAngular" class="angular"></fa-icon>
    <fa-icon [icon]="faReact" class="react"></fa-icon>
    <fa-icon [icon]="faPython" class="python"></fa-icon>
    <fa-icon [icon]="faGithub" class="github"></fa-icon>
  </div>
</div>

<h2 >DIVE INTO WEB DEVELOPMENT</h2>

<div class="aligntexts">
  <div class="part1" >
    <h3 class="subheader">
      <fa-icon [icon]="faHtml5" class="html5"></fa-icon> HTML mastery
    </h3>
    <p class="section1text">
      Embark the exciting adverture through the <br />remains of HTML. Build
      websites that cater to <br />every device and its basics
    </p>

    <h3 class="subheader">
      <fa-icon [icon]="faPython" class="python"></fa-icon> Common Languages
    </h3>
    <p class="section1text">
      create and implement code with <br>
    languages that will allow you to redesign <br>
    using functionality, bringing your webpage to life.
  
  </p>

    <h3 class="subheader">
      <fa-icon [icon]="faCode" class="html5"></fa-icon>VSCode Vitory
    </h3>
    <p class="section1text">
      learn how to use a tool <br>
      to code with us and learn alot more on <br>
      implementing it efficiently.
      </p>
  </div>

  <div class="part2">
    <h3 class="subheader">
      <fa-icon [icon]="faCss3" class="css3"></fa-icon> CSS Wizardry
    </h3>
    <p class="section1text">
      we teach you how to use <br>
    and manipulate certain <br>
    types of css and how to use them creatively
    </p>

    <h3 class="subheader">
      <fa-icon [icon]="faGithub" class="github"></fa-icon> GitHub Gymnastics
    </h3>
    <p class="section1text">
     we teach you the basics of how to use <br>
    this platform as your very own profile <br>
  as well as show you the ways in way you can host on it </p>
  </div>
</div>

<div class="container2">
  <button class="getstarted" routerLink="/moredetails">Read more here</button>
  <button class="getstarted2" routerLink="/pricing">Get Started </button>
</div>

<div class="alignboxes">
  <div class="box">
    <br /><br />
    <span>📚 </span><br />
    <div class="number">30</div>

    <div class="numbertext">days class hosted virtually</div>
  </div>

  <div class="box">
    <br /><br />
    <span>👨🏾‍💻 </span><br />
    <div class="number">15+</div>

    <div class="numbertext">students in attendance</div>
  </div>

  <div class="box">
    <br /><br />
    <span>🔧 </span><br />
    <div class="number">5+</div>

    <div class="numbertext">projects made</div>
  </div>
</div>

<div class="align1">
  <div class="wholething">
    <h2>Common Queries</h2>

    <div class="aligntexts">
      <div class="part11">
        <h3 class="subheader">what is Coding Solutions about?</h3>
        <p class="section1text">
          we teach people the solid basics of web development <br />
          with relevate tools needed to start with what you know as a developer.
          <br />
          Whether you a beginner or you want to improve <br />
          on your skill.
        </p>

        <h3 class="subheader">how long does it take?</h3>
        <p class="section1text">
          we have a beginner course for a period of <br />
          30 days about all things dev related HTML & CSS <br />
          and 90 days learning a whole language with concepts.
        </p>
      </div>

      <div class="part22">
        <h3 class="subheader">What type of classes you'll have</h3>
        <p class="section1text">
         we do from individual 1on1 classes <br>
        to group classes that we specify on each <br> 
        we teach you virtually or <br>
        in person all there is on basics of websites. 
        </p>

        <h3 class="subheader">How do i get in contact</h3>
        <p class="section1text">
          find us on this link here, or contact us on this <br />
          number via Whatsapp and we will <br />assist on any inquires you seek
          (click on it) <br /><br />
          <a href="https://wa.me/message/UE6XNJVTRE7IM1"
            ><b> <fa-icon [icon]="faWhatsapp"></fa-icon> 061-813-5054</b></a
          >
        </p>
      </div>
    </div>
  </div>
</div>
<!--
<h2>What we've been up to:</h2>

<div class="alignvideos">
<div class="videos"></div>
<div class="videos"></div>
<div class="videos"></div>
<div class="videos"></div>

</div>
-->

<br /><br /><br />
<br />
<br /><br /><br /><br /><br />


<br /><br />
<!--to the left-->
<div class="contentbox">
  <div class="scrolling-content">
    <button class="marginbtn1">web development</button>
    <button class="marginbtn2">Languages</button>
    <button class="marginbtn3">hosting and service</button>
    <button class="marginbtn4">web design</button>
  </div>
</div>

<div class="codingsol">
  <h1 class="title">JOIN US NOW.</h1>
</div>


<h3 class="catchphrase">
  <div class="secondheader">
    'Ready to swap your cape for a coders hat? Leave us your email and <br />
    brace for impact! We'll send you updates and more <br />
    to find out on our courses.' <br /><br />

    Prince Mpho Msimango
  </div>
</h3>

<div class="container">
  <input type="search" class="email" placeholder="name@gmail.com" />
  <button>Submit</button>
</div>

<div class="alignsocials">
  <a href="https://x.com/prince28_mpho"> <fa-icon [icon]="faTwitter"></fa-icon></a>
  <a href="https://www.instagram.com/princemphomsimango/"><fa-icon [icon]="faInstagram"></fa-icon></a>
  <a href="https://www.linkedin.com/in/prince-mpho-msimango-26b3b6282/"> <fa-icon [icon]="faLinkedin"></fa-icon></a>
  <a href="https://wa.me/message/UE6XNJVTRE7IM1"
    ><fa-icon [icon]="faWhatsapp"></fa-icon
  ></a> 
</div>

<div class="align">
  <p class="alignsocialstext">2024 Coding Solutions. All rights reserved</p>

  <p class="alignsocialstext2">since June 2024</p>
</div>
  <!-- Add your desktop-specific content here -->
</div>
 
</div>
 
<!-- Message for mobile/tablet view
 
"outputPath":   "dist/coldingsolutions"
-->
<div class="mobile-view">

  <br><br>
  <h1>Desktop Only</h1>
  <p>The mobile version is unavaliable at the moment. Please switch to a desktop for the best experience.</p>
<br><br>  
  <p class="smalltext">Coding Solutions.</p>

  <div class="alignsocials">
    <a href="https://x.com/prince28_mpho"> <fa-icon [icon]="faTwitter"></fa-icon></a>
    <a href="https://www.instagram.com/princemphomsimango/"><fa-icon [icon]="faInstagram"></fa-icon></a>
    <a href="https://www.linkedin.com/in/prince-mpho-msimango-26b3b6282/"> <fa-icon [icon]="faLinkedin"></fa-icon></a>
    <a href="https://wa.me/message/UE6XNJVTRE7IM1"
      ><fa-icon [icon]="faWhatsapp"></fa-icon
    ></a> 
  </div>

  
  <p class="alignsocialstext2">since June 2024</p>
</div>
