<div class="desktop-view"  ngIf="isDesktop">
 

<app-navbar></app-navbar>
<div class="codingsol">
  <h1 class="title">Coming soon...</h1>
</div>

<h3 class="catchphrase">"page either not working or doesnt exist, go back"</h3>
<div class="submitbtn-container">
    <button class="submitbtn" routerLink="/">homepage</button>
</div>
 
<div class="catchphrase2">
    <a routerLink="/moredetails">about us</a>
     <a routerLink="/projects"> projects</a> 
    <a routerLink="/">home</a>
  </div>

</div>

  <!-- Message for mobile/tablet view -->
<div class="mobile-view">

  <br><br>
  <h1>Desktop Only</h1>
  <p>The mobile version is unavaliable at the moment. Please switch to a desktop for the best experience.</p>
<br><br>  
  <p class="smalltext">Coding Solutions.</p> 
  <p class="alignsocialstext2">since June 2024</p>
</div>

 